# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments (Virtual Environments)
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/

# IDE settings
.vscode/
.idea/